//colors

$blue:#263376;
$red:#c12234;
$white:#fff;
$black:#171d21;

$fsize: 14px;


//devices breakpoints

$mobile-width:320px;
$mobilelscape-width:576px;
$tablet-width:768px;
$laptop-width:991px;
$desktop-width:1200px;